#include "totem.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    diode-direction = "col2row"; 

    row-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    col-gpios = <&xiao_d 8  GPIO_ACTIVE_HIGH>,
                <&xiao_d 9  GPIO_ACTIVE_HIGH>,
                <&xiao_d 10 GPIO_ACTIVE_HIGH>,
                <&xiao_d 5  GPIO_ACTIVE_HIGH>,
                <&xiao_d 4  GPIO_ACTIVE_HIGH>;
};

&xiao_serial {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_swapped>;
};

&pinctrl {

    // Swapping the rx/tx pins on one half of the controller. Got the values from the device tree dump during build
    uart0_swapped: uart0_swapped {
        group1 {
            pinmux = < 0x12 >;
        };
        group2 {
            pinmux = < 0x2>;
            input-enable;
        };
    };
};
